<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Address Bean -->
    <bean id="addressBean" class="package1.Address">
        <property name="city" value="Delhi"/>
        <property name="state" value="Delhi"/>
        <property name="country" value="India"/>
    </bean>
    

    <!-- Student Bean -->
    <bean id="studentBean" class="package1.Student">
        <property name="roll" value="101"/>
        <property name="name" value="Abhay Sharma"/>
        
        <!-- Inject List -->
        <property name="skills">
            <list>
                <value>Java</value>
                <value>Spring</value>
                <value>Hibernate</value>
            </list>
        </property>

        <!-- Inject Map -->
        <property name="courses">
            <map>
                <entry key="CS101" value="Computer Science Basics"/>
                <entry key="CS102" value="Data Structures"/>
            </map>
        </property>

        <!-- Inject Address Bean -->
        <property name="address" ref="addressBean"/>
        
        <!-- Inject Constructor Bean -->
        <constructor-arg value="abhay@gmail.com"/>
        <constructor-arg value="6584795565"/>
    </bean>
</beans>
