/* External_CSS.css */
.heading {
  color: green;
  background-color: #000000;
  font-size: 40px;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  padding: 1px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}